{% load static %}
{% load webp_converter %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Hi! I am Mayank Jha. This is my personal website.">
    <meta name="keywords"
          content="HTML, CSS, JavaScript, Django, Mayank, Jha, Mayank Jha, MJ, Mayank J, Personal, Website, Portfolio, Software, Engineer, Developer, Computer, Science, Engineering, Amazon, University at Buffalo, UB, CSE, SWE, SDE">
    <meta name="author" content="Mayank Jha">
    <meta name="theme-color" content="#1d1d1d"/>
    <meta name="google-site-verification" content="ChBJDT74QfQB3NzKlNamOU9o0FaTzl7YAhxqn6Ildb0"/>
    <title>Mayank Jha</title>
    <link rel="apple-touch-icon" href="{% static_webp 'mayankjha813_transparent_poker.png' %}">
    <link rel="stylesheet" href="{% static '/index.css' %} ">
    <link rel="icon" href=" {% static_webp 'mayankjha813_transparent_poker.png' %}"
          type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

<div style="margin-bottom: 100px; height: 500px" class="navbar transparent parallax-container">
    <div class="parallax">
        <img src="{% static 'star.jpg' %}">
    </div>
    <nav style="line-height: 90px;" class="transparent z-depth-0">
        <div class="nav-wrapper ">
            <div class="container">
                <div class="container">
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i
                            class="material-icons">menu</i></a>

                </div>

            </div>

            <div class="container">
                <a href="{% url 'personal-index' %}" class="brand-logo left"><img
                        src="{% static_webp 'mayankjha813_transparent_poker.png' %}"
                        style="height: 100px; width: 100px; " alt="404" class="circle"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a style="font-size: 1.3em;" href="{% url 'personal-index' %}#experience"
                           class="white-text">Experience</a></li>
                    <li><a style="font-size: 1.3em;" href="{% url 'personal-index' %}#projects"
                           class="white-text">Projects</a></li>
                    <li><a style="font-size: 1.3em;" href="{% url 'bloglist' %}"
                           class="white-text">Blog</a></li>
                    <li><a style="font-size: 1.3em;" href="{% url 'personal-index' %}#about"
                           class="white-text">About</a></li>
                    <li><a style="font-size: 1.3em;" href="{% url 'personal-index' %}#contact"
                           class="white-text">Contact</a></li>
                    {% if user.is_authenticated %}
                        <li><a style="font-size: 1.3em;" href="{% url 'personal-logout' %}"
                               class="white-text">Logout</a></li>
                        <li><a style="font-size: 1.3em;" href="{% url 'edit' %}" class="white-text">Edit
                            Profile</a></li>
                    {% else %}
                        <li><a style="font-size: 1.3em;" href="{% url 'personal-login' %}"
                               class="white-text">Login</a></li>

                    {% endif %}


                </ul>


            </div>

        </div>
    </nav>
    <ul class="sidenav right" id="mobile-demo" style="background: #1d1d1d">
        <li>
            <div class="user-view">
                <div class="background">
                </div>
                <img class="circle" src="{{ profile.profile_pic.url }}" alt="404">
                <span style="font-size: 1.7em;" class="white-text">Mayank Jha</span>
            </div>
        </li>
        <li>
            <div class="divider grey darken-2 "></div>
        </li>
        <li><a style="font-size: 1.3em;" href="{% url 'personal-index' %}#experience" class="white-text">Experience</a>
        </li>
        <li><a style="font-size: 1.3em;" href="{% url 'personal-index' %}#projects" class="white-text">Projects</a>
        </li>
        <li><a style="font-size: 1.3em;" href="{% url 'bloglist' %}" class="white-text">Blog</a></li>
        <li><a style="font-size: 1.3em;" href="{% url 'personal-index' %}#about"
               class="white-text">About</a></li>
        <li><a style="font-size: 1.3em;" href="{% url 'personal-index' %}#contact" class="white-text">Contact</a>
        </li>
        {% if user.is_authenticated %}
            <li><a style="font-size: 1.3em;" href="{% url 'personal-logout' %}"
                   class="white-text">Logout</a>
            </li>
        {% else %}
            <li><a style="font-size: 1.3em;" href="{% url 'personal-login' %}"
                   class="white-text">Login</a>
            </li>

        {% endif %}
    </ul>
    <br>
    <br>


    <div class="container">
        <h3 class="grey-text text-lighten-1 center-align flow-text">Welcome to my little corner on the internet</h3>

    </div>

</div>

{% if user.is_authenticated %}
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li><a href="{% url 'work' %}" class="btn-floating blue"><i class="material-icons">work</i> </a></li>
            <li><a href="{% url 'create' %}" class="btn-floating green"><i class="material-icons">web_asset</i></a></li>
            <li><a href="{% url 'quote' %}" class="btn-floating red"><i class="material-icons">format_quote</i></a></li>

        </ul>
    </div>
{% endif %}

<div class="container">
    <div class="row">

        {% if user.is_authenticated %}
            <a href="{% url 'new-blog' %}" class="waves-effect waves-light btn right-align"><i
                    class="material-icons left">mode_edit</i>New Article</a>
        {% endif %}
        <h1 class="white-text flow-text center-align">Articles</h1>

        <div class="divider grey darken-2 hide-on-small-only" style="margin-bottom: 45px;"></div>

        {% if posts.count == 0 %}
            <h3 class="white-text center-align">Brainstorming.. Stay tuned.</h3>
        {% endif %}
        {% for post in posts %}

            <div class="col xl6 l6 m6 s12">
                <div class="card medium grey lighten-1 hoverable" style="border-radius: 10px">
                    <div class="card-image">
                        <a href="{% url 'blog-detail' pk=post.pk %}"><img src="{{ post.cover.url }}"></a>
                    </div>
                    <div class="card-content ">
                        <span class="card-title brown-text text-lighten-1">{{ post.title }}</span>
                        <p>{{ post.content | truncatewords:3 | striptags | safe }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

</body>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://use.fontawesome.com/3d41ee30d1.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {edge: 'right'});
    });


    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.parallax');
        var instances = M.Parallax.init(elems, {});
    });
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, {
            hoverEnabled: false
        });
    });
</script>
<script>
    AOS.init();
</script>
</html>