{% load static %}
{% load webp_converter %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Mayank Jha</title>
  <meta name="description" content="Hi! I am Mayank Jha. This is my personal website.">
  <meta name="keywords"
          content="HTML, CSS, JavaScript, Django, Mayank, Jha, Mayank Jha, MJ, Mayank J, Personal, Website, Portfolio, Software, Engineer, Developer, Computer, Science, Engineering, Amazon, University at Buffalo, UB, CSE, SWE, SDE">
  <meta name="author" content="Mayank S Jha">
  <meta name="google-site-verification" content="ChBJDT74QfQB3NzKlNamOU9o0FaTzl7YAhxqn6Ildb0"/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" /></head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.8.2/devicon.min.css">
 
  <link rel="apple-touch-icon" href="{% static_webp 'mayankjha813_transparent_poker.png' %}">
    <link rel="stylesheet" href="{% static 'index.css' %} ">
    <link rel="icon" href=" {% static_webp 'mayankjha813_transparent_poker.png' %}"
          type="image/x-icon">

  <body style='background-color: #FEF8EA'>

  <nav class="transparent z-depth-0" role="navigation" >
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="black-text brand-logo hide-on-med-and-down">MAYANK JHA.</a>
      <ul class="right ">
       <li><a style="font-size: 1.2em;" href="{% url 'personal-index' %}#about"
                           class="black-text">About</a></li>
        <li><a style="font-size: 1.2em;" href="{% url 'personal-index' %}#experiences"
                           class="black-text">Experience</a></li>
                    <li><a style="font-size: 1.2em;" href="{% url 'personal-index' %}#projects"
                           class="black-text">Projects</a></li>
                   
                    <li><a style="font-size: 1.2em;" href="{% url 'personal-index' %}#skills"
                           class="black-text">Skills</a></li>
                    <li><a style="font-size: 1.2em;" href="{% url 'personal-index' %}#contact"
                           class="black-text">Contact</a></li>
                    {% if user.is_authenticated %}
                    <li><a style="font-size: 1.2em;" href="{% url 'edit' %}"
                               class="black-text">Edit</a></li>
                        <li><a style="font-size: 1.2em;" href="{% url 'personal-logout' %}"
                               class="black-text">Logout</a></li>
                    {% else %}
                        <li><a style="font-size: 1.2em;" href="{% url 'personal-login' %}"
                               class="black-text">Login</a></li>

                    {% endif %}

      </ul>
    
    </div>
  </nav>

  {% if user.is_authenticated %}
  <div class="fixed-action-btn">
      <a class="btn-floating btn-large red">
          <i class="large material-icons">mode_edit</i>
      </a>
      <ul>
          <li><a href="{% url 'work' %}" class="btn-floating blue"><i class="material-icons">work</i> </a></li>
          <li><a href="{% url 'create' %}" class="btn-floating green"><i class="material-icons">web_asset</i></a></li>
          <li><a href="{% url 'quote' %}" class="btn-floating red"><i class="material-icons">format_quote</i></a></li>

      </ul>
  </div>
{% endif %}


  <div class="container valign-wrapper" style="height: 100vh; ">
    
    <div class="">

      <!--   Icon Section   -->
      <div class="row ">

        <!-- <div class="container hide-on-med-and-up center-align" style="padding-top: 50px">
          <img src='https://collegehub-442.s3.amazonaws.com/images/mayankjha813_poker.png' class="circle responsive-img" height="250px" width="250px">
        </div> -->

        <div class="col s12 m5 l5">
          <div class="hide-on-small-only">
            <img src={{profile.profile_pic.url}} class="circle responsive-img" alt="404" height="500" width='500' >
          </div>
          <div class="hide-on-med-and-up center-align">
            <img src={{profile.profile_pic.url}} class="circle responsive-img" alt="404" height="250" width='250'>
          </div>
        </div>

        <div class="col s12 m7 l7" style='padding-top: 20px'>
          <h3 class="black-text">Hi, I'm <strong>Mayank Jha</strong></h3>
          {% for quote in quotes %}
          <h5 class="black-text">{{quote}}</h5>
          {% endfor %}
         

          <div id="icons" style="padding-top: 30px">
            <a target="_blank" aria-label='Github' rel="noopener" style ='color: black;' href="https://github.com/MayankJ99"><i class="fab fa-github fa-2x" style="padding-right: 15px;"></i></a> 
            <a target="_blank" aria-label='Linkedin' rel="noopener" style ='color: black;' href="https://linkedin.com/in/mayanksjha"><i class="fab fa-linkedin fa-2x" style="padding-right: 15px;"></i></a> 
            <a target="_blank" aria-label='Instagram' rel="noopener" style ='color: black;'  href="https://instagram/MayankJ_14"><i class="fab fa-instagram fa-2x" style="padding-right: 15px;"></i></a>
            <a target="_blank" aria-label='Medium' rel="noopener" style ='color: black;'  href="https://mayanksjha.medium.com/"><i class="fab fa-medium-m fa-2x" style="padding-right: 15px;"></i></a>
            <a target="_blank" aria-label='Dev.to' rel="noopener" style ='color: black;'  href="https://dev.to/mayanksjha "><i class="fab fa-dev fa-2x" style="padding-right: 15px;"></i></a>
      
          </div>
        </div>
        
      </div>

    </div>
    
  </div>


  <!-- background-color: #f3f2f0;" -->
  <div id='about' data-aos="fade-up" class="">
  </section>

  <section id="experiences">
    <div class="container" data-aos="fade-up" >
        <h4 class="black-text">Experiences</h4>
        <hr>

    </div>
    <div class="container" style="padding-top: 20px;">
        {% for work in works %}
        <div id="experience" style="padding-bottom: 25px;">
                <h5 class="black-text" id='Company'><strong>{{work.company}}</strong></h5>
                <h6 class="grey-text text-darken-3" id='position'>{{work.position}}</h6>
                {% if work.end_date %}
                    <p class="grey-text text-darken-3" id='dates' style="font-size: 1.2em;">{{work.start_date | date:'M Y'}} - {{work.end_date | date:'M Y'}}</p>
                {% else %}
                    <p class="grey-text text-darken-3" id='dates' style="font-size: 1.2em;">{{work.start_date | date:'M Y'}}- Present</p>
                {% endif %}
                <p class="black-text" id="description" style="font-size: 1.2em; max-width: 95%;">{{work.full_description | linebreaksbr }}</p>
                {% if user.is_authenticated%}
                <a href={% url 'deleteWork' pk=work.pk %} class="btn grey darken-4" style="border-radius: 20px;">Delete</a>
                <a href={% url 'updateWork' pk=work.pk %} class="btn grey darken-4" style="border-radius: 20px;">Update</a>
              {% endif %}
            
        </div>
        {% endfor %}
      

    </div>

  </section>

  <section id="projects" >
    <div class="container">
        <h4 class="black-text">Prominent Projects</h4>
        <hr>

    </div>
    <div class="container" style="padding-top: 50px;">
     
     {% for project in projects%}
      <div id="project" style="padding-bottom: 25px;">

        <div class="row">
          <div id="item">
            <div class="col l6 m12 s12 ">
              <div class="center-align">
                <img src={{project.cover.url}} alt="404" class="responsive-img" id="project_image" style="height: auto; width: 100%;">
              </div>
            </div>
  
            <div class="col l6 m12 s12">
              <h5 class="black-text" id='Name'><strong>{{project.name}}</strong></h5>
              <p class="grey-text text-darken-3" id='dates' style="font-size: 1.2em;">{{project.date | date:'M Y' }}</p>
              <p class="black-text" id="description" style="font-size: 1.2em;">{{project.full_description}}</p>
              <br>
              {% if project.demo %}
                <a href={{project.demo}} class="btn grey darken-4" style="border-radius: 20px;">Demo</a>
              {% endif %}

              {% if project.link%}
                <a href={{project.link}} class="btn grey darken-4" style="border-radius: 20px;">Demo</a>
              {% endif %}

              {% if user.is_authenticated%}
                <a href={% url 'deleteProject' pk=project.pk %} class="btn grey darken-4" style="border-radius: 20px;">Delete</a>
                <a href={% url 'updateProject' pk=project.pk %} class="btn grey darken-4" style="border-radius: 20px;">Update</a>
              {% endif %}
            </div>
          </div>
          
        
        </div>
       
        
      </div>
      {% endfor %}
    
    </div>

  </section>

  <section>
    <div class="container">
      <div id="skills">
        <h4 class="black-text">Skills</h4>
        <hr>
        <br>

        <div class="container center-align">
         
          <div class="row">
            <div class="col l3 m3 s4">
              <div class=" skill " style="color: #464646">
                <i class="devicon-python-plain " style="font-size: 5em;"></i>
                <p style="font-size: 1.2em;">Python</p>
              </div>
            </div>
            <div class="col l3 m3 s4">
              <div class=" skill " style="color: #464646;">
                <i class="devicon-javascript-plain " style="font-size: 5em;"></i>
                <p style="font-size: 1.2em;" >Javascript</p>
              </div>
            </div>
            <div class="col l3 m3 s4">
              <div class=" skill " style="color: #464646;">
                <i class="devicon-html5-plain " style="font-size: 5em;"></i>
                <p style="font-size: 1.2em;" >HTML</p>
              </div>
            </div>
            <div class="col l3 m3 s4">
              <div class=" skill " style="color: #464646;">
                <i class="devicon-css3-plain " style="font-size: 5em;"></i>
                <p style="font-size: 1.2em;" >CSS</p>
              </div>
            </div>
            <div class="col l3 m3 s4">
              <div class=" skill " style="color: #464646;">
                <i class="devicon-django-plain " style="font-size: 5em;"></i>
                <p style="font-size: 1.2em;" >Django</p>
              </div>
            </div>
            <div class="col l3 m3 s4">
              <div class=" skill " style="color: #464646;">
                <i class="devicon-react-plain " style="font-size: 5em;"></i>
                <p style="font-size: 1.2em;" >React.js</p>
              </div>
            </div>
            <div class="col l3 m3 s4">
              <div class=" skill " style="color: #464646;">
                <i class="devicon-express-original " style="font-size: 5em;"></i>
                <p style="font-size: 1.2em;" >Express.js</p>
              </div>
            </div>
            <div class="col l3 m3 s4">
              <div class=" skill " style="color: #464646;">
                <i class="devicon-nodejs-plain " style="font-size: 5em;"></i>
                <p style="font-size: 1.2em;" >Node.js</p>
              </div>
            </div>
            <div class="col l3 m3 s4">
              <div class=" skill " style="color: #464646;">
                <i class="devicon-scala-plain " style="font-size: 5em;"></i>
                <p style="font-size: 1.2em;" > Scala</p>
              </div>
            </div>
            <div class="col l3 m3 s4">
              <div class=" skill " style="color: #464646;">
                <i class="devicon-cplusplus-plain " style="font-size: 5em;"></i>
                <p style="font-size: 1.2em;" >C++</p>
              </div>
            </div>
            
            <div class="col l3 m3 s4">
              <div class=" skill " style="color: #464646;">
                <i class="devicon-java-plain " style="font-size: 5em;"></i>
                <p style="font-size: 1.2em;">Java</p>
              </div>
            </div>

            <div class="col l3 m3 s4">
              <div class=" skill " style="color: #464646;">
                <i class="devicon-docker-plain " style="font-size: 5em;"></i>
                <p style="font-size: 1.2em;">Docker</p>
              </div>
              
            </div>
            <div class="col l3 m3 s4">
              <div class=" skill " style="color: #464646;">
                <i class="devicon-postgresql-plain " style="font-size: 5em;"></i>
                <p style="font-size: 1.2em;">SQL</p>
              </div>
            </div>
            <div class="col l3 m3 s4">
              <div class=" skill " style="color: #464646;">
                <i class="devicon-git-plain " style="font-size: 5em;"></i>
                <p style="font-size: 1.2em;">Git</p>
              </div>
            </div>
            <div class="col l3 m3 s4">
              <div class=" skill " style="color: #464646;">
                <i class="devicon-amazonwebservices-plain " style="font-size: 5em;"></i>
                <p style="font-size: 1.2em;">AWS</p>
              </div>
            </div>
            <div class="col l3 m3 s4">
              <div class=" skill " style="color: #464646;">
                <i class="devicon-heroku-plain " style="font-size: 5em;"></i>
                <p style="font-size: 1.2em;">Heroku</p>
              </div>
            </div>
           

          </div>

          <div>
            <p style="font-size: 1.2em;">I am proficient in Python, and Javascript. My specialization is backend engineering and fullstack development. Through university courses, I have gained experience with Java, Scala, and OCaml. I have learnt several other technologies and frameworks
              while working on side-projects such as react, redux, express, django etc. At Amazon, I worked very closely with AWS and Apache Spark. <br>
              
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <h4>About
      </h4>
      <hr>
      <div class="center-align" style=" padding-top: 30px; padding-bottom: 50px;">

        <p class="black-text" style="font-size: 1.2em;">{{profile.bio | linebreaksbr}}

        <div class="container">
          <div class="container divider"></div>
        </div>
        <h6>Follow me</h6>
      <a style ='color: black;' aria-label='Github' href="https://github.com/MayankJ99"><i class="fab fa-github fa-2x" style="padding-right: 15px;"></i></a> 
           <a target="_blank" aria-label='Linkedin' rel="noopener" style ='color: black;' href="https://linkedin.com/in/mayanksjha"><i class="fab fa-linkedin fa-2x" style="padding-right: 15px;"></i></a> 
            <a target="_blank" aria-label='instagram' rel="noopener" style ='color: black;'  href="https://instagram/MayankJ_14"><i class="fab fa-instagram fa-2x" style="padding-right: 15px;"></i></a>
            <a target="_blank" aria-label='Medium' rel="noopener" style ='color: black;'  href="https://mayanksjha.medium.com/"><i class="fab fa-medium-m fa-2x" style="padding-right: 15px;"></i></a>
            <a target="_blank" aria-label='Dev.to' rel="noopener" style ='color: black;'  href="https://dev.to/mayanksjha "><i class="fab fa-dev fa-2x" style="padding-right: 15px;"></i></a>
      
      </div>
      <div class="container center-align" style="padding-bottom: 30px;">
        <a class="btn btn-small grey darken-4 center-align" href="mailto:{{ profile.user.email }}"
                   style="border-radius: 20px">Email</a>
                <a class="btn btn-small  grey darken-4 center-align" href="{{ profile.resume.url}}"
                   target="_blank" rel="noopener" style="border-radius: 20px">Resume</a>
      </div>

      <p class="center-align"><em>{{profile.quote}}</em></p>
    </div>
  </section>



  <!--  Scripts-->
  
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
  {% comment %} <script src="js/init.js"></script> {% endcomment %}

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, {
            hoverEnabled: false
        });
    });

  

  </script>
  </body>
</html>
