{% load static %}
{% load webp_converter %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Hi! I am Mayank Jha. This is my personal website.">
    <meta name="keywords"
          content="HTML, CSS, JavaScript, Django, Mayank, Jha, Mayank Jha, MJ, Mayank J, Personal, Website, Portfolio, Software, Engineer, Developer, Computer, Science, Engineering, Amazon, University at Buffalo, UB, CSE, SWE, SDE">
    <meta name="author" content="Mayank Jha">
    <meta name="theme-color" content="#1d1d1d"/>
    <meta name="google-site-verification" content="ChBJDT74QfQB3NzKlNamOU9o0FaTzl7YAhxqn6Ildb0"/>
    <title>Mayank Jha</title>
    <link rel="apple-touch-icon" href="{% static_webp 'mayankjha813_transparent_poker.png' %}">
    <link rel="stylesheet" href="{% static '/index.css' %} ">
    <link rel="icon" href=" {% static_webp 'mayankjha813_transparent_poker.png' %}"
          type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

<div style="margin-bottom: 100px;" class="navbar transparent">
    <nav style="line-height: 90px;" class="transparent z-depth-0">
        <div class="nav-wrapper ">
            <div class="container">
                <div class="container">
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i
                            class="material-icons">menu</i></a>

                </div>

            </div>

            <div class="container">
                <a href="#quotes" class="brand-logo left"><img
                        src="{% static_webp 'mayankjha813_transparent_poker.png' %}"
                        style="height: 100px; width: 100px; " alt="404"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a style="font-size: 1.3em;" href="#experience" class="teal-text text-accent-4">Experience</a>
                    </li>
                    <li><a style="font-size: 1.3em;" href="#projects" class="teal-text text-accent-4">Projects</a></li>
                    <li><a style="font-size: 1.3em;" href="{% url 'bloglist' %}"
                           class="teal-text text-accent-4">Blog</a></li>

                    <li><a style="font-size: 1.3em;" href="#about" class="teal-text text-accent-4">About</a></li>
                    <li><a style="font-size: 1.3em;" href="#contact" class="teal-text text-accent-4">Contact</a></li>
                    {% if user.is_authenticated %}
                        <li><a style="font-size: 1.3em;" href="{% url 'personal-logout' %}"
                               class="teal-text text-accent-4">Logout</a></li>
                        <li><a style="font-size: 1.3em;" href="{% url 'edit' %}" class="teal-text text-accent-4">Edit
                            Profile</a></li>
                    {% else %}
                        <li><a style="font-size: 1.3em;" href="{% url 'personal-login' %}"
                               class="teal-text text-accent-4">Login</a></li>

                    {% endif %}


                </ul>


            </div>

        </div>
    </nav>
    <ul class="sidenav right" id="mobile-demo" style="background: #1d1d1d">
        <li>
            <div class="user-view">
                <div class="background">
                </div>
                <img class="circle" src="{{ profile.profile_pic.url }}" alt="404">
                <span style="font-size: 1.7em;" class="white-text">Mayank Jha</span>
            </div>
        </li>
        <li>
            <div class="divider grey darken-2 "></div>
        </li>
        <li><a style="font-size: 1.3em;" href="#experience" class="teal-text text-accent-4">Experience</a></li>
        <li><a style="font-size: 1.3em;" href="#projects" class="teal-text text-accent-4">Projects</a></li>
        <li><a style="font-size: 1.3em;" href="{% url 'bloglist' %}" class="teal-text text-accent-4">Blog</a></li>
        <li><a style="font-size: 1.3em;" href="#about" class="teal-text text-accent-4">About</a></li>
        <li><a style="font-size: 1.3em;" href="#contact" class="teal-text text-accent-4">Contact</a></li>
        {% if user.is_authenticated %}
            <li><a style="font-size: 1.3em;" href="{% url 'personal-logout' %}"
                   class="teal-text text-accent-4">Logout</a>
            </li>
        {% else %}
            <li><a style="font-size: 1.3em;" href="{% url 'personal-login' %}"
                   class="teal-text text-accent-4">Login</a>
            </li>

        {% endif %}
    </ul>
</div>

{% if user.is_authenticated %}
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li><a href="{% url 'work' %}" class="btn-floating blue"><i class="material-icons">work</i> </a></li>
            <li><a href="{% url 'create' %}" class="btn-floating green"><i class="material-icons">web_asset</i></a></li>
            <li><a href="{% url 'quote' %}" class="btn-floating red"><i class="material-icons">format_quote</i></a></li>

        </ul>
    </div>
{% endif %}




<section id="quotes" class="section scrollspy" style="margin-bottom: 100px;">

    <div class="container row">
        <div class="col xl6 l6 m6 s12">
            <br>
            <br>
            <br>

            <div class="container">
                <img src="{% static_webp 'mayankjha813_poker.png' %}" alt="404" height="350" width="350"
                     class="circle responsive-img">
            </div>

        </div>
        <div class="col xl1"></div>
        <div class="col xl5 l6 m6 s12">
            <h1 class="teal-text text-accent-4 hide-on-small-only "> Hi, </h1>
            <h2 class="white-text hide-on-small-only ">I'm {{ profile.user.first_name }}.</h2>
            <h3 class="white-text hide-on-med-and-up "> Hi, I'm {{ profile.user.first_name }}. </h3>
            <div>
                {% for quote in quotes %}
                    <blockquote style="border-color: #00ad9c">
                        <h4 class=" white-text center-align-on-small">{{ quote.quote | linebreaksbr }}</h4>

                    </blockquote>
                {% endfor %}
            </div>

        </div>


    </div>

</section>
<br>
<br>
<br>
{% if user.is_authenticated %}
{% else %}
    <br>
    <br>
    <br>
{% endif %}

<div class="container">
    <div class="divider grey darken-2 show-on-small"></div>
</div>
<br>
<section id="experience" class="section scrollspy">
    <h4 class="teal-text text-accent-4 center-align"> Experience</h4>
    <br>
    <div class="container">
        <div class="row">

            {% for work in works %}
                <div class="col l6 s12 m6">

                    <div style="border-radius: 10px;" class="card large grey darken-4 hoverable">
                        <div class="card-image">
                            <a href="#work{{ work.pk }}" class="modal-trigger"><img style="border-radius: 10px;"
                                                                                    src="{{ work.cover.url }}"
                                                                                    alt="404" loading="lazy"></a>
                        </div>

                        <div class="card-content">
                            <h5 class="left-align teal-text text-accent-4">{{ work.company }}</h5>
                            <br>
                            <p class="left-align white-text">{{ work.position }}</p>
                            <br>
                            {% if work.end_date %}
                                <p class="left-align white-text">{{ work.start_date }} - {{ work.end_date }}</p>
                            {% else %}
                                <p class="left-align white-text">{{ work.start_date }} - Present</p>
                            {% endif %}
                            <br>
                        </div>

                        <div style="border-radius: 10px;" class="card-action">
                            <a class="teal-text text-accent-4 modal-trigger" href="#work{{ work.pk }}">Read
                                More..</a>
                        </div>

                        <div id="work{{ work.pk }}" class="modal grey darken-3">
                            <div class="modal-content">
                                <h4 class="left-align teal-text text-accent-4">{{ work.position }}</h4>
                                <h4 class="left-align teal-text text-accent-4">{{ work.company }}</h4>
                                {% if work.end_date %}
                                    <p class="left-align white-text">{{ work.start_date }} - {{ work.end_date }}</p>
                                {% else %}
                                    <p class="left-align white-text">{{ work.start_date }} - Present</p>
                                {% endif %}
                                <p class="left-align white-text">{{ work.location }}</p>
                                <h5 class="left-align teal-text text-accent-4">Overview</h5>
                                <p class="left-align white-text">{{ work.full_description | linebreaksbr }}</p>
                                </br>
                                {% if user.is_authenticated %}
                                    <a class="btn red" href="{% url 'deleteWork' pk=work.pk %}">Delete</a>
                                    <a class="btn " href="{% url 'updateWork' pk=work.pk %}">Update</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</section>
<br>
<br>
<br>

<div class="container">
    <div class="divider grey darken-2"></div>
</div>

<section id="projects" class="section scrollspy">
    <h4 class="teal-text text-accent-4 center-align">Projects</h4>
    <br>
    <div class="container">
        <div class="row">

            {% for project in projects %}
                <div class="col l6 s12 m6">

                    <div style="border-radius: 10px;" class="card large transparent z-depth-5 ">
                        <div class="card-image">
                            <a href="#project{{ project.pk }}" class="modal-trigger"> <img style="border-radius: 10px;"
                                                                                           class="responsive-img "
                                                                                           src="{{ project.cover.url }}"
                                                                                           alt="404"
                                                                                           loading="lazy"> </a>

                        </div>

                        <div class="card-content">
                            <h5 class="left-align teal-text text-accent-4">{{ project.name }}</h5>
                            <br>
                            <p class="left-align white-text">{{ project.short_description }}</p>
                            <br>
                        </div>
                        <div class="card-action">
                            <a class="teal-text text-accent-4 modal-trigger" href="#project{{ project.pk }}">Read
                                More..</a>
                            <div id="project{{ project.pk }}" class="modal grey darken-3">
                                <div class="modal-content">
                                    <h3 class="left-align teal-text text-accent-4">{{ project.name }}</h3>
                                    <p class="left-align white-text">{{ project.date }}</p>

                                    <h5 class="left-align teal-text text-accent-4">Overview</h5>
                                    <div class=" left-align">
                                        <p class="left-align white-text">{{ project.full_description | linebreaksbr }}</p>

                                        {% if project.link %}
                                            <a href="{{ project.link }}" target="_blank" rel="noopener"><i
                                                    class=" material-icons">exit_to_app</i></a>
                                        {% endif %}
                                        {% if user.is_authenticated %}
                                            <a class="btn red" href="{% url 'deleteProject' pk=project.pk %}">Delete</a>
                                            <a class="btn btn-danger" href="{% url 'updateProject' pk=project.pk %}">Update</a>

                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>

    </div>
    </div>
</section>

<br>
<br>

<div class="container">
    <div class="divider grey darken-2"></div>
</div>


<section id="about" class="section scrollspy" data-aos="fade-up"
         data-aos-duration="1000">

    <h4 class="teal-text text-accent-4 center-align">About me</h4>
    <p></p>
    <br>
    <div class="container">
        <div class="row">
            <div class="col l4 m12 s12">

                <img src="{{ profile.profile_pic.url }}" height="200" width="200" class="circle center-align" alt="404"
                     loading="lazy" style="margin-left: auto; margin-right: auto; display: block">
                <p class="teal-text text-accent-4 center-align"> {{ profile.user.first_name }} {{ profile.user.last_name }}</p>
                <p class="white-text center-align">{{ profile.location }}</p>
                <p class="white-text center-align">{{ profile.occupation }}</p>


            </div>
            <div class="col l8 m12 s12">
                <p class="white-text center-align">{{ profile.bio | linebreaksbr }}</p>

            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="divider grey darken-2"></div>
</div>

<section id="contact" class="section scrollspy" data-aos="fade-up"
         data-aos-duration="1000">

    <h4 class="teal-text text-accent-4 center-align">Contact Me!</h4>
    <br>
    <br>
    <div class="container center-align">
        <div class="row">

            {% if profile.linkedin %}
                <div id="linkedin" class="col l4 m6 s12 center-align">

                    <a href="{{ profile.linkedin }}" target="_blank" rel="noopener"><img
                            src="{% static_webp 'linkedin.png' %}"
                            style="height: 75px; width: 75px;"
                            class="circle responsive-img" alt="404"
                            loading="lazy">
                    </a>
                    <br>
                    <h6><a class="teal-text text-accent-4 center align" href="{{ profile.linkedin }}" target="_blank"
                           rel="noopener">Linkedin</a>
                    </h6>
                </div>
            {% endif %}
            {% if profile.github %}
                <div id="github" class="col l4 m6 s12 center-align">
                    <a href="{{ profile.github }}" target="_blank" rel="noopener"> <img
                            src="{% static_webp 'github-mark.png' %}"
                            style="height: 75px; width: 75px;"
                            class="circle responsive-img" alt="404"
                            loading="lazy">
                        <br> </a>
                    <h6><a class="teal-text text-accent-4 center align" href="{{ profile.github }}" target="_blank"
                           rel="noopener">Github</a>
                    </h6>
                </div>
            {% endif %}


            {% if profile.instagram %}
                <div id="insta" class="col l4 m6 s12 center-align">
                    <a href="{{ profile.instagram }}" target="_blank" rel="noopener"> <img
                            src="{% static_webp 'insta.png' %}"
                            style="height: 75px; width: 75px;"
                            class="circle responsive-img" alt="404"
                            loading="lazy">
                    </a>
                    <br>
                    <h6><a class="teal-text text-accent-4 center align" href="{{ profile.instagram }}" target="_blank"
                           rel="noopener">Instagram</a>
                    </h6>
                </div>
            {% endif %}


            <div id="email" class="col l4 m6 s12 center-align">
                <a href="mailto:{{ profile.user.email }}"> <img src="{% static_webp 'email.png' %}"
                                                                style="height: 75px; width: 75px;"
                                                                class="circle responsive-img" alt="404" loading="lazy">
                </a>
                <br>
                <h6><a class="teal-text text-accent-4 center align" href="{{ profile.user.email }}" target="_blank"
                       rel="noopener">Email
                    Me!</a></h6>
            </div>


            <div id="resume" class="col l4 m6 s12 center-align">
                <a href="{% static 'Mayank_Jha (1).pdf' %}" target="_blank" rel="noopener"> <img
                        src="{% static 'resume.png' %}"
                        style="height: 75px; width: 75px;"
                        class="circle responsive-img"
                        alt="404" loading="lazy"> </a>
                <h6><a class="teal-text text-accent-4 center align" href="resume.pdf" target="_blank" rel="noopener">Resume</a>
                </h6>
            </div>
        </div>
    </div>
</section>

<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
                <p class="white-text center-align"><em>{{ profile.quote }}</em></p>
            </div>
        </div>
    </div>
</section>
</body>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://use.fontawesome.com/3d41ee30d1.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {edge: 'right'});
    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.scrollspy');
        var instances = M.ScrollSpy.init(elems, {});
    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, {
            hoverEnabled: false
        });
    });
</script>
<script>
    AOS.init();
</script>
</html>