body {
    background-color: #C9A690;
}

.input-field [type=text] {
    color: black;
}

.help-block {
    color: white;
}

.input-field [type=date] {
    color: white;
}

.input-field [type=email] {
    color: white;
}

.input-field [type=password] {
    color: white;
}

.material-icons {
    vertical-align: -6px;
}

textarea {
    color: white;
}
