body {
    background-color: #C9A690;
    zoom: 1;
}

.input-field [type=text] {
    color: black;
}

.tinymce-content p {
    padding: 0;
    margin: 2px 0;
}

#blog_content p{
    line-height: 1.1 !important;
}

   /* label color */
   .input-field label {
    color: #000 !important;
  }
  /* label focus color */
  .input-field input:focus + label {
    color: #000 !important;
  }
  /* label underline focus color */
  .input-field input:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
  }
.help-block {
    color: black;
}

.input-field [type=date] {
    color: black;
}

.input-field [type=file] {
    color: black;

}

.input-field [type=email] {
    color: black;
}

.input-field [type=password] {
    color: black;
}

.material-icons {
    vertical-align: -10px;
}

textarea {
    color: black;
}
